.h1{
    font-size: 36px;
    text-align: center;
    color: black;
}
.comment-title{
    padding-top: 30px;
}
.loading{
    position: absolute;
    top: 50%;
   left: 50%;
}
#icons{
    position: absolute;
    top: 0;
    margin-left: 20px;
    margin-top: 10px;
}