.btn1{
    background-color: #F12B2C;
    color: white;
    border: none;
    padding: 10px;
    width: 54px;
    border-radius: 100px;
    cursor: pointer;
}
.btn1:hover{
    background-color: white;
    color: #F12B2C;
    border: 1px solid #F12B2C;
}