.nav{
display: flex;
align-items: center;
justify-content: space-between;

}
header{
    position: sticky;
    top: 0;
    left: 0;
    width: calc(100vw - 255px);
}
.jones{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    column-gap: 40px;
}
.logo>img{
    padding-left: 15px;
}
.container{
    max-width: 1122px;
    width: 100%;
    margin: 0 auto;
    padding:20px  20px;
  }
  .header__light{
    background-color: white;
  }
  .header__dark{
    background-color:#363740 !important;
    color:#fff ;
  }
  .select {
    background:  #363740;
    border: none;
    border-radius: 0;
    color: #DDE2FF;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .select:after {
    content: " ";
    display: inline-block;
    width: 24px; height: 24px;
    background: blue;
  }