.button3{
    background-color:#29CC97;
    color: white;
    border: none;
    padding: 10px;
    width: 76px;
    border-radius: 100px;
    cursor: pointer;
}
.button3:hover{
    background-color: white;
    color: #29CC97;
    border: 1px solid#29CC97;
}