.navlink{
    display: flex;
    align-items: center;
    column-gap: 15px;
    color: #DDE2FF;
    text-decoration: none;
    cursor: pointer;
    height: 56px;
    padding-left: 20px;
}
.navlink:hover{
    color: blue;
}
.navlink>h3{
    font-size: 16px;
}