.navlink{
    display: flex;
    align-items: center;
    column-gap: 15px;
    color: #DDE2FF;
    text-decoration: none;
    cursor: pointer;
    height: 56px;
    padding-left: 20px;
    width: 100%;
    padding-left: none;
}
.navlink-class{
    position: absolute;
    width: 100%;
   right: 0;
}
.navlink>h3{
    font-size: 16px;
}
.active{
    background-color: #9FA2B4;
    opacity: 8;
    border-left: 5px solid #DDE2FF;
}