.button2{
    background-color:#FEC400;
    color: white;
    border: none;
    padding: 10px;
    width: 54px;
    border-radius: 100px;
    cursor: pointer;

}
.button2:hover{
    background-color: white;
    color: #FEC400;
    border: 1px solid #FEC400;
}